<h1><%= @flat.name %></h1>
<h3><%= @flat.price_per_night %> EUR </h3>
<h3><%= @flat.number_of_guests %> people</h3>
<p><%= @flat.description %></p>
<p><%= link_to "Back", flats_path  %> | <%= link_to "Update", edit_flat_path  %> | <%= link_to "Delete", flat_path(@flat), method: :delete, data: { confirm: "Are you sure you want to delete this flat?" } %></p>

